<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300;400;500;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{root}}assets/css/style.css">
</head>

<body>
    <div class="wrapper">
        <main class="main">
            <section class="promo" id="home">
                <div class="container">
                    <div class="promo__head">
                        <a class="promo__logo" href="#">
                            <img src="assets/images/svg/logo.svg" alt="logo">
                        </a>

                        <div class="promo__descr">Официальный представитель<br><span>Garmin, Polar, Suunto</span></div>

                        <div class="promo__phone">
                            <a class="promo__number" href="tel:+74999228974">+7 (499) 922-89-74</a>
                            <button class="promo__phone_btn" data-modal="consultation">заказать звонок</button>
                        </div>
                    </div>

                    <div class="promo__inner">
                        <h1 class="promo__title">Подбор пульсометра</h1>
                        <div class="promo__subtitle">с учётом Вашего уровня подготовки</div>
                        <div class="promo__service_inner">
                            <div class="promo__service_item">
                                <img src="assets/images/svg/timer.svg" alt="timer">
                                <div>Время подбора: 10 минут</div>
                            </div>
                            <div class="promo__service_item">
                                <img src="assets/images/svg/handCart.svg" alt="handcart">
                                <div>Бесплатная доставка</div>
                            </div>
                            <div class="promo__service_item">
                                <img src="assets/images/svg/message.svg" alt="message">
                                <div>Ответим<br>на все вопросы</div>
                            </div>
                        </div>
                        <button class="consultation-btn consultation-btn_promo" data-modal="consultation">заказать
                            консультацию</button>
                        <div class="promo_catalog">или <a href="#catalog">ПЕРЕЙТИ В КАТАЛОГ</a></div>
                    </div>
                </div>
            </section>

            <section class="advantages">
                <div class="container">
                    <h2 class="advantages__title">НАШИ ПРЕИМУЩЕСТВА</h2>
                    <div class="advantages__wrapper">
                        <div class="advantages__item">
                            <img class="advantages__icon" src="assets/images/svg/cup.svg" alt="cup">
                            <div class="advantages__subtitle">Делимся опытом</div>
                            <p>Наши сотрудники всегда готовы поделиться своим опытом, так как сами бегают полумарафоны,
                                переплыли Босфор, готовятся к соревнованиям по триатлону!</p>
                        </div>
                        <div class="advantages__item">
                            <img class="advantages__icon advantages__icon_animated" src="assets/images/svg/heart.svg"
                                alt="heart">
                            <div class="advantages__subtitle">Заботимся о здоровье</div>
                            <p>Мы работаем для того, чтобы Ваши занятия спортом шли на пользу Вашему здоровью и были в
                                радость Вам и Вашим близким!</p>
                        </div>
                        <div class="advantages__item">
                            <img class="advantages__icon" src="assets/images/svg/shoe.svg" alt="shoe">
                            <div class="advantages__subtitle">Учим бегать</div>
                            <p>Помогаем с обучением правильной технике бега! Дружим с крупнейшей школой бега в России -
                                <span>I LOVE RUNNING.</span>
                            </p>
                        </div>
                    </div>

                </div>
            </section>

            <section class="consultation">
                <div class="container">
                    <h2 class="consultation__title">Получите бесплатную консультацию<br>по подбору пульсометра </h2>
                    <div class="consultation__descr">Просто заполните форму заявки<br>и мы перезвоним вам в течении 10
                        минут
                    </div>
                    <form class="consultation__form" action="#" id="consultation-form">
                        <input required name="name" type="text" placeholder="Ваше имя">
                        <input required name="phone" placeholder="Ваш телефон">
                        <input required name="email" type="email" placeholder="Ваш E-mail">
                        <button class="consultation-btn consultation-btn_promo">заказать кОНСУЛЬТАЦИЮ</button>
                    </form>
                </div>
            </section>

            <div class="carousel">
                <div class="container">
                    <div class="carousel__inner">
                        <div>
                            <img src="assets/images/slides/slide1.jpg" alt="slide">
                        </div>
                        <div>
                            <img src="assets/images/slides/slide2.jpg" alt="slide">
                        </div>
                        <div>
                            <img src="assets/images/slides/slide3.jpg" alt="slide">
                        </div>
                    </div>
                    <button class="prev_arrow"><img src="assets/images/svg/chevronLeft.svg" alt="Previous"></button>
                    <button class="next_arrow"><img src="assets/images/svg/chevronRight.svg" alt="Next"></button>

                </div>
            </div>

            <section class="catalog" id="catalog">
                <div class="container">

                    <h2 class="catalog__title">Каталог пульсометров</h2>

                    <div class="catalog__tabs">
                        <button class="catalog__tab" type="button" data-filter=".polarft1">
                            <span>Для фитнеса</span>
                        </button>
                        <button class="catalog__tab" type="button" data-filter=".suuntom2">
                            <span>для бега</span>
                        </button>
                        <button class="catalog__tab" type="button" data-filter=".polarft4">
                            <span>для триатлона</span>
                        </button>
                    </div>
                    <div class="catalog__inner">

                        <div class="catalog__card mix polarft1 ">

                            <div class="catalog__card_wrapper">
                                <div class="catalog__card-content">
                                    <img src="assets/images/img/pulsometer.png" alt="pulsometer">
                                    <div class="catalog__card-title">Пульсометр Polar FT1</div>
                                    <div class="catalog__card-descr">Для первых шагов в тренировках, основанных на
                                        сердечном
                                        ритме</div>
                                    <button class="catalog__card-btn">ПОДРОБНЕЕ</button>
                                </div>


                                <ul class="catalog__card-list">
                                    <li>Вы услышите звуковое оповещение о нужном пульсе во время тренировки;</li>
                                    <li>Вы увидите информативный графический индикатор целевых тренировочных зон пульса;
                                    </li>
                                    <li>Также Вы увидите информацию о расходе калорий за тренировку;</li>
                                    <li>Вы сможете посмотреть данные по 10 тренировкам.</li>
                                    <li><button class="catalog__card-btn_back">назад</button></li>
                                </ul>
                            </div>

                            <div class="catalog__card-buy">
                                <div class="catalog__card-prices">
                                    <div class="pulsometer-prev-price">4 750 руб.</div>
                                    <div class="pulsometer-actual-price">4 500 руб.</div>
                                </div>
                                <button class="pulsometer-buy-btn">КУПИТЬ</button>
                            </div>

                        </div>

                        <div class="catalog__card mix suuntom2 ">
                            <div class="catalog__card_wrapper">
                                <div class="catalog__card-content">
                                    <img src="assets/images/img/pulsometer.png" alt="pulsometer">
                                    <div class="catalog__card-title">Пульсометр Suunto M2</div>
                                    <div class="catalog__card-descr">Для первых шагов в тренировках, основанных на
                                        сердечном
                                        ритме</div>
                                    <button class="catalog__card-btn">ПОДРОБНЕЕ</button>
                                </div>
                                <ul class="catalog__card-list">
                                    <li>Вы услышите звуковое оповещение о нужном пульсе во время тренировки;</li>
                                    <li>Вы увидите информативный графический индикатор целевых тренировочных зон пульса;
                                    </li>
                                    <li>Также Вы увидите информацию о расходе калорий за тренировку;</li>
                                    <li>Вы сможете посмотреть данные по 10 тренировкам.</li>
                                    <li><button class="catalog__card-btn_back">назад</button></li>
                                </ul>
                            </div>


                            <div class="catalog__card-buy">
                                <div class="catalog__card-prices">
                                    <div class="pulsometer-prev-price">6 690 руб.</div>
                                    <div class="pulsometer-actual-price">6 641 руб.</div>
                                </div>
                                <button class="pulsometer-buy-btn">КУПИТЬ</button>
                            </div>

                        </div>

                        <div class="catalog__card mix polarft1 ">
                            <div class="catalog__card_wrapper">
                                <div class="catalog__card-content">
                                    <img src="assets/images/img/pulsometer.png" alt="pulsometer">
                                    <div class="catalog__card-title">Пульсометр Polar FT1</div>
                                    <div class="catalog__card-descr">Для первых шагов в тренировках, основанных на
                                        сердечном
                                        ритме</div>
                                    <button class="catalog__card-btn">ПОДРОБНЕЕ</button>
                                </div>
                                <ul class="catalog__card-list">
                                    <li>Вы услышите звуковое оповещение о нужном пульсе во время тренировки;</li>
                                    <li>Вы увидите информативный графический индикатор целевых тренировочных зон пульса;
                                    </li>
                                    <li>Также Вы увидите информацию о расходе калорий за тренировку;</li>
                                    <li>Вы сможете посмотреть данные по 10 тренировкам.</li>
                                    <li><button class="catalog__card-btn_back">назад</button></li>
                                </ul>
                            </div>

                            <div class="catalog__card-buy">
                                <div class="catalog__card-prices">
                                    <div class="pulsometer-prev-price">7 390 руб.</div>
                                    <div class="pulsometer-actual-price">7 021 руб.</div>
                                </div>
                                <button class="pulsometer-buy-btn">КУПИТЬ</button>
                            </div>

                        </div>

                        <div class="catalog__card mix polarft1 ">
                            <div class="catalog__card_wrapper">
                                <div class="catalog__card-content">
                                    <img src="assets/images/img/pulsometer.png" alt="pulsometer">
                                    <div class="catalog__card-title">Пульсометр Polar FT1</div>
                                    <div class="catalog__card-descr">Для первых шагов в тренировках, основанных
                                        на сердечном
                                        ритме</div>
                                    <button class="catalog__card-btn">ПОДРОБНЕЕ</button>
                                </div>
                                <ul class="catalog__card-list">
                                    <li>Вы услышите звуковое оповещение о нужном пульсе во время тренировки;</li>
                                    <li>Вы увидите информативный графический индикатор целевых тренировочных зон пульса;
                                    </li>
                                    <li>Также Вы увидите информацию о расходе калорий за тренировку;</li>
                                    <li>Вы сможете посмотреть данные по 10 тренировкам.</li>
                                    <li><button class="catalog__card-btn_back">назад</button></li>
                                </ul>
                            </div>

                            <div class="catalog__card-buy ">
                                <div class="catalog__card-prices">
                                    <div class="pulsometer-prev-price">4 750 руб.</div>
                                    <div class="pulsometer-actual-price">4 500 руб.</div>
                                </div>
                                <button class="pulsometer-buy-btn">КУПИТЬ</button>
                            </div>

                        </div>

                        <div class="catalog__card mix suuntom2 ">
                            <div class="catalog__card_wrapper">
                                <div class="catalog__card-content">
                                    <img src="assets/images/img/pulsometer.png" alt="pulsometer">
                                    <div class="catalog__card-title">Пульсометр Suunto M2</div>
                                    <div class="catalog__card-descr">Для первых шагов в тренировках,
                                        основанных на сердечном
                                        ритме</div>
                                    <button class="catalog__card-btn">ПОДРОБНЕЕ</button>
                                </div>
                                <ul class="catalog__card-list">
                                    <li>Вы услышите звуковое оповещение о нужном пульсе во время тренировки;</li>
                                    <li>Вы увидите информативный графический индикатор целевых тренировочных зон пульса;
                                    </li>
                                    <li>Также Вы увидите информацию о расходе калорий за тренировку;</li>
                                    <li>Вы сможете посмотреть данные по 10 тренировкам.</li>
                                    <li><button class="catalog__card-btn_back">назад</button></li>
                                </ul>
                            </div>

                            <div class="catalog__card-buy">
                                <div class="catalog__card-prices">
                                    <div class="pulsometer-prev-price">6 690 руб.</div>
                                    <div class="pulsometer-actual-price">6 641 руб.</div>
                                </div>
                                <button class="pulsometer-buy-btn">КУПИТЬ</button>
                            </div>

                        </div>

                        <div class="catalog__card mix polarft4 ">
                            <div class="catalog__card_wrapper">
                                <div class="catalog__card-content">
                                    <img src="assets/images/img/pulsometer.png" alt="pulsometer">
                                    <div class="catalog__card-title">Пульсометр Polar FT4</div>
                                    <div class="catalog__card-descr">Для первых шагов в
                                        тренировках, основанных на сердечном
                                        ритме</div>
                                    <button class="catalog__card-btn">ПОДРОБНЕЕ</button>
                                </div>
                                <ul class="catalog__card-list">
                                    <li>Вы услышите звуковое оповещение о нужном пульсе во время тренировки;</li>
                                    <li>Вы увидите информативный графический индикатор целевых тренировочных зон пульса;
                                    </li>
                                    <li>Также Вы увидите информацию о расходе калорий за тренировку;</li>
                                    <li>Вы сможете посмотреть данные по 10 тренировкам.</li>
                                    <li><button class="catalog__card-btn_back">назад</button></li>
                                </ul>
                            </div>

                            <div class="catalog__card-buy">
                                <div class="catalog__card-prices">
                                    <div class="pulsometer-prev-price">6 690 руб.</div>
                                    <div class="pulsometer-actual-price">6 641 руб.
                                    </div>
                                </div>
                                <button class="pulsometer-buy-btn">КУПИТЬ</button>
                            </div>

                        </div>

                    </div>
                </div>
            </section>

            <section class="review">
                <div class="container">

                    <h2 class="review__title">отзывы клиентов</h2>

                    <div class="review__inner">
                        <div class="review__item animate__animated">

                            <div class="photo-box">
                                <img src="assets/images/img/photo_1.png" alt="userPhoto">
                            </div>

                            <div class="user-box">
                                <div class="user_name">Ирина Иванченко</div>
                                <div class="user_descr">2 полумарафона</div>
                                <p class="user_message">Не знала, что себе купить - обратилась к ребятам из RunSmart -
                                    подобрали пульсометр, который подошёл именно под мои цели и финансовые возможности.
                                    Через некоторое время решила обновить гаджет - не раздумывая обратилась туда
                                    же.<br><br>
                                    Новые цели - новый гаджет!<br><br>
                                    Спасибо, RunSmart! </p>
                            </div>

                        </div>

                        <div class="review__item animate__animated">
                            <div class="photo-box">
                                <img src="assets/images/img/photo_2.png" alt="userPhoto">
                            </div>

                            <div class="user-box">
                                <div class="user_name">Иван Сёмочкин</div>
                                <div class="user_descr">1 полумарафон</div>
                                <p class="user_message">Крутая штука-пульсометр. Обычно без них бегал. Оказывается
                                    только хуже себе делал.<br>Купил пульсометр, ещё в подарок получил тренировку. Со
                                    мной вместе провели первую тренировку, научили пользоваться новым гаджетом. Также
                                    объяснили основы анатомии, составили план тренировок на месяц вперёд.<br><br>С ними
                                    подготовился к своему первому полумарафону! Спасибо!!!</p>
                            </div>
                        </div>

                        <div class="review__item animate__animated">
                            <div class="photo-box">
                                <img src="assets/images/img/photo_3.png" alt="userPhoto">
                            </div>

                            <div class="user-box">
                                <div class="user_name">Юлия Дашкина</div>
                                <div class="user_descr">2 полумарафона</div>
                                <p class="user_message">Долго не могла начать бегать, т.к. до этого несколько раз
                                    начинала, но становилось тяжело и я бросала. От друзей услышала о RunSmart и о беге
                                    с контролем пульса и решила попробовать.<br><br>Позвонила, ребята поинтересовались
                                    моими целями и подобрали очень интересный вариант со скидкой! Теперь бегаю и
                                    наслаждаюсь бегом! Пробежала уже 2 полумарафона и несколько более коротких забегов и
                                    не намерена останавливаться!<br><br>Спасибо!!!</p>
                            </div>
                        </div>

                    </div>

                </div>
            </section>

        </main>
        <footer class="footer">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1334.5236037254986!2d37.646018301301204!3d55.7690593972262!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a63664af129%3A0x32043f062d12723a!2zTXlhc25pdHNraXkgUHJveWV6ZCwgMyDRgdGC0YDQvtC10L3QuNC1IDEsIE1vc2t2YSwgUnVzc2lhLCAxMDcwNzg!5e0!3m2!1sen!2sam!4v1680528579920!5m2!1sen!2sam"
                width="100%" height="630" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>

            <div class="footer__inner">
                <address class="footer__address">Москва, Мясницкий проезд, д.3с1</address>
                <a class="footer__phone" href="tel:+84999228974">8 (499) 922-89-74</a>
                <div class="footer__social">
                    <a class="footer__social_item hvr-float-shadow" href="#">
                        <img src="assets/images/svg/facebook.svg" alt="facebook">
                    </a>
                    <a class="footer__social_item hvr-float-shadow" href="#">
                        <img src="assets/images/svg/instagram.svg" alt="instagram">
                    </a>
                    <a class="footer__social_item hvr-float-shadow" href="#">
                        <img src="assets/images/svg/pinterest.svg" alt="pinterest">
                    </a>
                </div>
            </div>
        </footer>





    </div>

    <div class="overlay">
        <div class="modal" id="consultation">
            <div class="modal__close">&times;</div>
            <div class="modal__subtitle">Просто заполните форму заявки</div>
            <div class="modal__descr">и мы перезвоним вам в течении 10 минут</div>
            <form class="consultation__form" action="#">
                <input name="name" placeholder="Ваше имя" type="text">
                <input name="phone" placeholder="Ваш телефон">
                <input name="email" placeholder="Ваш E-mail" type="email">

                <button class="consultation-btn">заказать консультацию</button>
            </form>
        </div>

        <div class="modal" id="order">
            <div class="modal__close">&times;</div>
            <div class="modal__subtitle">Ваш заказ:</div>
            <div class="modal__descr">Пульсометр Polar FT1</div>
            <form class="consultation__form" action="#">
                <input name="name" required placeholder="Ваше имя" type="text">
                <input name="phone" required placeholder="Ваш телефон">
                <input name="email" required placeholder="Ваш E-mail" type="email">

                <button class="consultation-btn">КУПИТЬ</button>
            </form>
        </div>

        <div class="modal modal_mini" id="thanks">
            <div class="modal__close">&times;</div>
            <div class="modal__subtitle">Спасибо за вашу заявку!</div>
            <div class="modal__descr">Наш менеджер свяжется с вами
                в ближайшее время!</div>
        </div>
    </div>


    <a class="pageup hvr-grow" href="#home">
        <img src="assets/images/svg/chevronHome2.svg" alt="Home">
    </a>







    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.4.1.min.js"></script>
    <script src="assets/js/mixitup.js"></script>
    <script src="assets/js/slick.js"></script>
    <script src="assets/js/jquery.validate.js"></script>
    <script src="assets/js/jquery.maskedinput.js"></script>
    <script src="assets/js/script.js"></script>
</body>

</html>